[class*="col-"] {width: 100%;}

@media screen and (min-width: 600px) {
    .col-s-1 {width: 16.66%;}
    .col-s-2 {width: 33.33%;}
    .col-s-3 {width: 50%;}
    .col-s-4 {width: 66.66%;}
    .col-s-5 {width: 83.33%;}
    .col-s-6 {width: 100%;}
}

@media screen and (min-width: 768px) {
    .col-1 {width: 16.66%;}
    .col-2 {width: 33.33%;}
    .col-3 {width: 50%;}
    .col-4 {width: 66.66%;}
    .col-5 {width: 83.33%;}
    .col-6 {width: 100%;}
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------------------*/
/* HEADER */

header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

header ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #107
}

header li {
    float: left;
    height: 40px;
}

header a {
    display: block;
    padding: 10px 20px;
    font-family: Raleway, Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
}

header img {
    filter: invert(100%);
    height: 25px;
    float: left;
    top: 10px;
}

@media screen and (max-width: 599px) {
    header a {padding: 10px 10px;}
    header li:last-child span {display: none;}
}

@media screen and (max-width: 369px) {
    header a {padding: 10px 5px;}
    header a {letter-spacing: 0px;}
}

header a:link, header a:visited {
    color: #FFF;
}

header a:hover {
    /*color: #BBBBBB;*/
    background-color: #109;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

header a:active {
    background-color: #FFF;
    color: #109;
}

header li:last-child {
    position: absolute;
    /*top: 50%;*/
    right: 0px;
}

/*----------------------------------------------------------------*/
/*MAIN*/

main div {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
    background-color: #DDD;
    color: #000;
    padding: 10px;
    margin: 10px auto;
    /*border: 1px solid #111;*/
    box-shadow: 0 0 5px #222;
}

main h1 {
    margin: 0;
    font-family: Raleway, Arial, sans-serif;
    font-weight: lighter;
}

/*----------------------------------------------------------------*/
/*INDEX*/

main .ban {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    margin: 0%;
    padding: 0px;
    background-color: #000;
    /*background-image: url("../img/banner.jpg");*/
}

main .ban img {
    opacity: 50%;
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    top: 0px
}

main .ban h1 {
    font-size: 70px;
    position: absolute;
    padding: 0 30px;
    text-align: right;
    font-family: Bitter, Times, serif;
    color: #FFF;
    text-shadow: 0 0 10px #000;
    bottom: 0px;
    right: 0px;
}

@media screen and (max-width: 599px) {
    main .ban h1 {
        font-size: 30px;
        text-align: center;
    }
}

/*----------------------------------------------------------------*/
/*COMPRAR*/

#app {
    background-color: #FFF;
    width: auto;
    padding: 0%;
    box-shadow: none;
    box-sizing: border-box;
}

#app::after {
    content: "";
    clear: both;
    display: table;
}

.propiedad {
    float: left;
    padding: 15px;
    margin: auto;
    background-color: #FFF;
    box-shadow: none;
}

.propiedad img {
    max-width: 80%;
    padding: 20px;
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.propiedad img:hover {
    transform: scale(1.1, 1.1);
}

.propiedad a {
    color:#000;
    text-decoration: none;
}

.propiedad span {
    font-weight: lighter;
}

.propiedad h3 {
    margin: 0%;
}

.descrip {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 100%;
    height: 100px;
}

/*----------------------------------------------------------------*/
/*LOGIN*/

.login {
    float: left;
    background-color: #FFF;
    box-shadow: none;
    text-align: left;
}

main label {
    font-family: Raleway, Arial, sans-serif;
}

[id*="error"] {
    width: auto;
    padding: 0;
    margin: 0 0 10px;
    background-color: #FFF;
    color: #B02;
    position: static;
    box-shadow: none;
    text-align: left;
    visibility: hidden;
}

/*----------------------------------------------------------------*/
/*FOOTER*/

footer {
    margin-top: auto;
    background-color: #107;
    color: #FFF;
    font-family: 'Raleway', Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

footer img {
    filter: invert(100%);
    width: 50px;
    margin: 0 30px;
}

@media screen and (max-width: 369px) {
    footer img {margin: 0 10px;}
}

footer img:hover {
    filter: invert(87%);
}

footer h6 {
    margin: 0;
    padding-top: 10px;
}