:root {
    --back: #DDD;
    --card: #FFF;
    --title: #000;
    --field: #EEE;
}

[class*="col-"] {width: 100%;}

@media screen and (min-width: 600px) {
    .col-s-1 {width: 16.66%;}
    .col-s-2 {width: 33.33%;}
    .col-s-3 {width: 50%;}
    .col-s-4 {width: 66.66%;}
    .col-s-5 {width: 83.33%;}
    .col-s-6 {width: 100%;}
}

@media screen and (min-width: 768px) {
    .col-1 {width: 16.66%;}
    .col-2 {width: 33.33%;}
    .col-3 {width: 50%;}
    .col-4 {width: 66.66%;}
    .col-5 {width: 83.33%;}
    .col-6 {width: 100%;}
}

body {
    padding: 0;
    margin: 0;
    font-family: Raleway, Arial, sans-serif;
    background-color: var(--back);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------------------*/
/* HEADER */

header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

header ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #107
}

header li {
    float: left;
    height: 40px;
}

header a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

header img {
    filter: invert(100%);
    height: 25px;
    float: left;
    top: 10px;
}

@media screen and (max-width: 599px) {
    header a {padding: 10px 10px;}
    header li:last-child span {display: none;}
}

@media screen and (max-width: 369px) {
    header a {padding: 10px 5px;}
    header a {letter-spacing: 0px;}
}

header a:link, header a:visited {
    color: #FFF;
}

header a:hover {
    background-color: #109;
}

header a:active {
    background-color: #FFF;
    color: #109;
}

header li:last-child {
    position: absolute;
    /*top: 50%;*/
    right: 0px;
}

/*----------------------------------------------------------------*/
/*MAIN*/

main {
    background-color: var(--back);
}

main div {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    text-align: center;
    background-color: var(--card);
    color: #000;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 0 5px #222;
}

main h1, main h2 {
    margin: 0;
    font-weight: lighter;
}

.formul {
    float: left;
    background-color: var(--back);
    box-shadow: none;
}

.submitBut {
    box-shadow: none;
    width: 70%;
    padding: 0;
}

input[type=text], input[type=password], input[type=email] {
    width: 60%;
    border: 1px solid #000;
    background-color: var(--field);
}

input[type=submit] {
    width: 100%;
    font-family: Raleway, Arial, sans-serif;
    font-size: x-large;
    color: #FFF;
    background-color: #107;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    input[type=text], input[type=password], input[type=email] {width: 100%;}
    .submitBut {width: 100%;}
    input[type=submit] {font-size: larger;}
}

/*----------------------------------------------------------------*/
/*INDEX*/

main .ban {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    margin: 0%;
    padding: 0px;
    background-color: #000;
}

main .ban img {
    opacity: 50%;
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    top: 0px
}

main .ban h1 {
    font-size: 70px;
    position: absolute;
    padding: 0 30px;
    text-align: right;
    font-family: Bitter, Times, serif;
    color: #FFF;
    text-shadow: 0 0 10px #000;
    bottom: 0px;
    right: 0px;
}

@media screen and (max-width: 599px) {
    main .ban h1 {
        font-size: 30px;
        text-align: center;
    }
}

.item1 {grid-area: aside;}
.item2 {grid-area: pic;}
.item3 {grid-area: txt;}

.container {
    display: grid;
    grid-template-areas:
        'aside pic pic'
        'aside pic pic'
        'aside txt txt';
    width: 100%;
    gap: 10px;
    padding: 30px;
    background-color: var(--back);
    box-shadow: none;
}

[class*="item"] {
    width: 100%;
    height: 100%;
}

.item1 {
    background-color: var(--back);
    box-shadow: none;
    letter-spacing: 5px;
    line-height: 100px;
}

.item2 {
    background-color: var(--back);
    box-shadow: none;
    padding: 0;
}

.item2 img {
    width: 100%;
    padding: 0%;
    box-shadow: 0 0 5px #222;
}

.item3 {
    background-color: var(--back);
    box-shadow: none;
    letter-spacing: 3px;
    font-family: Bitter, Times, serif;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-areas: 
            'txt aside'
            'pic pic';
    }
    .item1 {line-height: normal;}
    .item3 {font-size: small;}
}

@media screen and (max-width: 599px) {
    .container {
        grid-template-areas:
            'txt'
            'aside'
            'pic';
    }
    .item1 {
        font-size: small;
        letter-spacing: normal;
    }
}

/*----------------------------------------------------------------*/
/*COMPRAR*/

#app {
    background-color: var(--back);
    width: auto;
    padding: 0%;
    box-shadow: none;
    box-sizing: border-box;
}

#app h1 {
    color: var(--title);
    font-family: Bitter, Times, serif;
    font-size: 50px;
}

@media screen and (max-width: 599px) {
    #app h1 {font-size: 40px;}
}

#app::after {
    content: "";
    clear: both;
    display: table;
}

.propiedad {
    float: left;
    padding: 15px;
    margin: auto;
    background-color: var(--back);
    box-shadow: none;
}

.propiedad img {
    max-width: 80%;
    padding: 20px;
    transform: scale(1, 1);
    transition: transform 0.25s;
}

.propiedad img:hover {
    transform: scale(1.05, 1.05);
}

.propiedad a {
    color:#000;
    text-decoration: none;
}

.propiedad span {
    font-weight: lighter;
}

.propiedad h3 {
    margin: 0%;
}

.descrip {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 100%;
    height: 100px;
}

/*----------------------------------------------------------------*/
/*CONTACTO*/

#contact {
    background-color: var(--back);
    width: auto;
    padding: 0%;
    box-shadow: none;
    box-sizing: border-box;
}

#contact h1 {
    color: var(--title);
    font-family: Bitter, Times, serif;
    font-size: 50px;
}

textarea {
    background-color: var(--field);
    width: 100%;
    resize: none;
}

#sendMail {text-align: left;}

h4 {
    text-align: right;
    width: 95%;
    font-weight: lighter;
}

@media screen and (max-width: 599px) {
    #contact h1 {font-size: 40px;}
    #sendMail, h4 {text-align: center;}
}

iframe {
    width: 90%;
}

/*----------------------------------------------------------------*/
/*LOGIN*/

#signup {text-align: left;}

#login {text-align: right;}

[id*="error"] {
    width: auto;
    padding: 0;
    margin: 0 0 10px;
    background-color: var(--card);
    color: #B02;
    position: static;
    box-shadow: none;
    visibility: hidden;
}

[id*="errorR-"] {text-align: left;}

[id*="error-"] {text-align: right;}

@media screen and (max-width: 599px) {
    #signup, #login {text-align: center;}
    [id*="errorR-"], [id*="error-"] {text-align: center;}
}

/*----------------------------------------------------------------*/
/*FOOTER*/

footer {
    margin-top: auto;
    background-color: #107;
    color: #FFF;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

footer img {
    filter: invert(100%);
    width: 50px;
    margin: 0 30px;
}

@media screen and (max-width: 369px) {
    footer img {margin: 0 10px;}
}

footer img:hover {
    filter: invert(87%);
}

footer h6 {
    margin: 0;
    padding-top: 10px;
}